/* Algemene Styling */
body {
    font-family: 'Courier Prime', monospace;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Navbar Styling */
.navbar, .navbar-profile {
    background-color: #24292e;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-image {
    width: 50px;
    height: auto;
}

.nav-links, .nav-links-profile {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links a, .nav-links-profile a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.nav-links a:hover, .nav-links-profile a:hover {
    background-color: #444;
    border-radius: 5px;
}

/* Footer Styling */
footer {
    background-color: #1b1f23;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 50px;
}

.footer-links {
    display: flex;
    gap: 40px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.1);
}

/* Responsive Styling */
@media (max-width: 768px) {
    .navbar, .navbar-profile {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
        padding: 20px;
    }

    .feature-item {
        max-width: 100%;
        margin-bottom: 20px;
    }
}